<script src="https://cdn.tailwindcss.com"></script>
<section class="bg-white dark:bg-stone-700 antialiased">
  <div class="max-w-screen-xl px-4 py-8 mx-auto lg:px-6 sm:py-16 lg:py-24">
    <div class="max-w-2xl mx-auto text-center">
      <h2 class="text-3xl font-extrabold leading-tight tracking-tight text-gray-900 sm:text-4xl dark:text-white" style="font-family: 'Poppins', sans-serif;">
        Welcome {{username}}! 
      </h2>
      <br>
      <br>
      <p class="text-lg font-normal text-gray-500 dark:text-gray-400">
        <a href="/profile/{{username}}/library" class="text-white ml-2 my-0.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md  px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">My Library</a>
      </p>
    </div>

    <div class="grid grid-cols-1 mt-12 text-center sm:mt-16 gap-x-20 gap-y-12 sm:grid-cols-2 lg:grid-cols-3">
      <div class="space-y-4">
        <span
          class="bg-gray-100 text-stone-900 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-stone-700 dark:text-gray-300" style="font-family: 'Poppins', sans-serif;">
          Pages read this past week
        </span>
        <div class="max-w-sm w-full bg-green-200 rounded-lg shadow dark:bg-stone-800 p-4 md:p-6">
        {{#if noEntries}}
        <h3 class="text-2xl font-bold leading-tight text-gray-900 dark:text-white" style="font-family: 'Poppins', sans-serif;">
          Nothing here yet...
        </h3>
        {{/if}}
        {{#if yesEntries}}
          <div id="column-chart"></div>
          <div class="grid grid-cols-1 items-center border-gray-200 border-t  dark:border-gray-700 justify-between">
          </div>

          <script>
            // ApexCharts options and config
            window.addEventListener("load", function() {
              const series = {{{series}}}
              const labels = {{{labels}}}
              const options = {
                    colors: ["#1A56DB"],
                    series: [
                      {
                        name: "Pages Read",
                        color: "#1A56DB",
                        data: labels.map((label, index) => ({ x: label, y: series[index] })),
                      },
                    ],
                    chart: {
                      type: "bar",
                      height: "320px",
                      fontFamily: "Inter, sans-serif",
                      toolbar: {
                        show: false,
                      },
                    },
                    plotOptions: {
                      bar: {
                        horizontal: false,
                        columnWidth: "70%",
                        borderRadiusApplication: "end",
                        borderRadius: 8,
                      },
                    },
                    tooltip: {
                      shared: true,
                      intersect: false,
                      style: {
                        fontFamily: "Inter, sans-serif",
                      },
                    },
                    states: {
                      hover: {
                        filter: {
                          type: "darken",
                          value: 1,
                        },
                      },
                    },
                    stroke: {
                      show: true,
                      width: 0,
                      colors: ["transparent"],
                    },
                    grid: {
                      show: false,
                      strokeDashArray: 4,
                      padding: {
                        left: 2,
                        right: 2,
                        top: -14
                      },
                    },
                    dataLabels: {
                      enabled: false,
                    },
                    legend: {
                      show: false,
                    },
                    xaxis: {
                      floating: false,
                      labels: {
                        show: true,
                        style: {
                          fontFamily: "Inter, sans-serif",
                          cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
                        }
                      },
                      axisBorder: {
                        show: false,
                      },
                      axisTicks: {
                        show: false,
                      },
                    },
                    yaxis: {
                      show: false,
                    },
                    fill: {
                      opacity: 1,
                    },
                  }

                  if(document.getElementById("column-chart") && typeof ApexCharts !== 'undefined') {
                    const chart = new ApexCharts(document.getElementById("column-chart"), options);
                    chart.render();
                  }
            });
          </script>
          {{/if}}
        </div>
        {{!--  --}}
        <p class="text-lg font-normal text-gray-500 dark:text-gray-400">
          <button id="openModalBtn1" class="open-modal-btn text-white ml-2 my-0.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md  px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" style="font-family: 'Poppins', sans-serif;">New Reading Entry</button>

          <div id="modal1" class="modal">
            <div class="modal-content">
              <span id="closeModal1" class="close">&times;</span>
              <br>
              <h2 style="font-family: 'Poppins', sans-serif;">Enter Pages Read Today</h2>
              <input type="number" id="pagesReadInput" class="yearly-goal-input" placeholder="Enter pages read" style="font-family: 'Poppins', sans-serif;">
              <button id="submitBtn1" class="submit-btn">Submit</button>
            </div>
          </div>
        </p>

      </div>

      <div class="space-y-4">
        <span
          class="bg-gray-100 text-gray-900 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-stone-700 dark:text-gray-300" style="font-family: 'Poppins', sans-serif;">
          My favorite genres
        </span>
        <div class="max-w-sm w-full bg-yellow-100 rounded-lg shadow dark:bg-stone-800 p-4 md:p-6">
        {{#if noBooks}}
        <h3 class="text-2xl font-bold leading-tight text-gray-900 dark:text-white" style="font-family: 'Poppins', sans-serif;">
          Nothing here yet...
        </h3>
        {{/if}}
        {{#if yesBooks}}
          <!-- Line Chart -->
          <div class="py-6" id="pie-chart"></div>

          <div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between">
            </div>
        


        <script>
          const genreData = {{{genreData}}};
          const genreArray = genreData.map(entry => entry.genre);
          const percentageArray = genreData.map(entry => entry.percentage);
          const test = {{{completedReading}}}
          console.log(test)
          // ApexCharts options and config
          window.addEventListener("load", function() {
            const getChartOptions = () => {
                return {
                  series: percentageArray,
                  colors: ["#1C64F2", "#16BDCA", "#9061F9", "#2G432D"],
                  chart: {
                    height: 420,
                    width: "100%",
                    type: "pie",
                  },
                  stroke: {
                    colors: ["white"],
                    lineCap: "",
                  },
                  plotOptions: {
                    pie: {
                      labels: {
                        show: true,
                      },
                      size: "100%",
                      dataLabels: {
                        offset: -25
                      }
                    },
                  },
                  labels: genreArray,
                  dataLabels: {
                    enabled: true,
                    style: {
                      fontFamily: "Inter, sans-serif",
                    },
                  },
                  legend: {
                    position: "bottom",
                    fontFamily: "Inter, sans-serif",
                  },
                  yaxis: {
                    labels: {
                      formatter: function (value) {
                        return value + "%"
                      },
                    },
                  },
                  xaxis: {
                    labels: {
                      formatter: function (value) {
                        return value  + "%"
                      },
                    },
                    axisTicks: {
                      show: false,
                    },
                    axisBorder: {
                      show: false,
                    },
                  },
                }
              }

              if (document.getElementById("pie-chart") && typeof ApexCharts !== 'undefined') {
                const chart = new ApexCharts(document.getElementById("pie-chart"), getChartOptions());
                chart.render();
              }
          });
        </script>
        {{/if}}
        </div>
        <p class="text-lg font-normal text-gray-500 dark:text-gray-400">
          <a href="/profile/{{username}}/library" class="text-white ml-2 my-0.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md  px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" style="font-family: 'Poppins', sans-serif;">Add books to your library!</a>
        </p>
      </div>
      <div class="space-y-4">
          <span
            class="bg-gray-100 text-gray-900 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-stone-700 dark:text-gray-300" style="font-family: 'Poppins', sans-serif;">
            My goal and total books read
          </span>
        <div class="max-w-sm w-full h-3/4 bg-red-200 rounded-lg shadow dark:bg-stone-800 p-4 md:p-6">
          {{#if noGoal}}
          <h3 class="text-2xl font-bold leading-tight text-gray-900 dark:text-white" style="font-family: 'Poppins', sans-serif;">
            Nothing here yet...
          </h3>
          {{/if}}
          {{#if yesGoal}}
          <p class="text-lg font-normal text-gray-500 dark:text-gray-400" style="font-family: 'Poppins', sans-serif;">
          Awesome job so far! Your yearly total is up to {{{completedReading}}}! Keep up the great work!
          </p>
          <br>
          <br>
          <div class="w-full h-6 bg-gray-50 rounded-full dark:bg-stone-700 flex items-center">
            <div class="bg-blue-600 h-6 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full w-1/2"style="width: {{goalPercentage}}%">
              <div class="flex items-center justify-center h-full 65%" style="font-family: 'Poppins', sans-serif;">{{goalPercentage}}%</div>
            </div>
          </div>
          <br>
          <br>
          <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-24" style="font-family: 'Poppins', sans-serif;">
            Your yearly goal: {{{yearlyGoal}}}
          </p>
        {{/if}}
        <div class="grid grid-cols-1 items-center border-gray-200 border-b  dark:border-gray-700 justify-between"></div>
        </div>
        <p class="text-lg font-normal text-gray-500 dark:text-gray-400">
          <button id="openModalBtn" class="open-modal-btn text-white ml-2 my-0.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md  px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" style="font-family: 'Poppins', sans-serif;">Enter a new goal!</button>

          <div id="modal" class="modal">
            <div class="modal-content">
              <span id="closeModal" class="close">&times;</span>
              <br>
              <h2 style="font-family: 'Poppins', sans-serif;">Enter Your Yearly Goal</h2>
              <input type="text" id="yearlyGoalInput" class="yearly-goal-input" placeholder="Enter your goal" style="font-family: 'Poppins', sans-serif;">
              <button id="submitBtn" class="submit-btn" style="font-family: 'Poppins', sans-serif;">Submit</button>
            </div>
          </div>
        </p>
        </div>
    </div>
  </div>
  {{!-- <footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
    <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Button</button>
      <p class="text-sm font-light text-gray-500 dark:text-gray-400">
       Need some inspiration? Find out what others are reading here
      </p>
    <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Logout</button>
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:underline">Group 8™</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
        </li>
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
        </li> --}}
</section>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="/js/yearlyGoalModal.js"></script>