<script src="https://cdn.tailwindcss.com"></script>
<section class="bg-white dark:bg-gray-900 antialiased">
  <div class="max-w-screen-xl px-4 py-8 mx-auto lg:px-6 sm:py-16 lg:py-24">
    <div class="max-w-2xl mx-auto text-center">
      <h2 class="text-3xl font-extrabold leading-tight tracking-tight text-gray-900 sm:text-4xl dark:text-white">
        Welcome back {{username}}! 
      </h2>
    </div>

    <div class="grid grid-cols-1 mt-12 text-center sm:mt-16 gap-x-20 gap-y-12 sm:grid-cols-2 lg:grid-cols-3">
      <div class="space-y-4">
        <span
          class="bg-gray-100 text-gray-900 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">
          Your pages read this past week
        </span>
        {{!-- <h3 class="text-2xl font-bold leading-tight text-gray-900 dark:text-white">
          Nothing here yet...
        </h3> --}}
        {{!--  --}}
        <div class="max-w-sm w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
          <div id="column-chart"></div>
          <div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between">
          </div>
        </div>

<script>
  // ApexCharts options and config
  window.addEventListener("load", function() {
    const series = {{{series}}}
    console.log(series)
    const labels = {{{labels}}}
    console.log(labels)
    const options = {
          colors: ["#1A56DB"],
          series: [
            {
              name: "Pages Read",
              color: "#1A56DB",
              data: labels.map((label, index) => ({ x: label, y: series[index] })),
            },
          ],
          chart: {
            type: "bar",
            height: "320px",
            fontFamily: "Inter, sans-serif",
            toolbar: {
              show: false,
            },
          },
          plotOptions: {
            bar: {
              horizontal: false,
              columnWidth: "70%",
              borderRadiusApplication: "end",
              borderRadius: 8,
            },
          },
          tooltip: {
            shared: true,
            intersect: false,
            style: {
              fontFamily: "Inter, sans-serif",
            },
          },
          states: {
            hover: {
              filter: {
                type: "darken",
                value: 1,
              },
            },
          },
          stroke: {
            show: true,
            width: 0,
            colors: ["transparent"],
          },
          grid: {
            show: false,
            strokeDashArray: 4,
            padding: {
              left: 2,
              right: 2,
              top: -14
            },
          },
          dataLabels: {
            enabled: false,
          },
          legend: {
            show: false,
          },
          xaxis: {
            floating: false,
            labels: {
              show: true,
              style: {
                fontFamily: "Inter, sans-serif",
                cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
              }
            },
            axisBorder: {
              show: false,
            },
            axisTicks: {
              show: false,
            },
          },
          yaxis: {
            show: false,
          },
          fill: {
            opacity: 1,
          },
        }

        if(document.getElementById("column-chart") && typeof ApexCharts !== 'undefined') {
          const chart = new ApexCharts(document.getElementById("column-chart"), options);
          chart.render();
        }
  });
</script>
        {{!--  --}}
        <p class="text-lg font-normal text-gray-500 dark:text-gray-400">
          Add some info
        </p>
      </div>

      <div class="space-y-4">
        <span
          class="bg-gray-100 text-gray-900 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">
          Your favorite genres
        </span>
        {{#if noBooks}}
        <h3 class="text-2xl font-bold leading-tight text-gray-900 dark:text-white">
          Nothing here yet...
        </h3>
        {{/if}}
        {{#if yesBooks}}
        <div class="max-w-sm w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
          <!-- Line Chart -->
          <div class="py-6" id="pie-chart"></div>

          <div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between">
            </div>
          </div>
        


        <script>
          const genreData = {{{genreData}}};
          const genreArray = genreData.map(entry => entry.genre);
          console.log(genreArray)
          const percentageArray = genreData.map(entry => entry.percentage);
          console.log(percentageArray)
          // ApexCharts options and config
          window.addEventListener("load", function() {
            const getChartOptions = () => {
                return {
                  series: percentageArray,
                  colors: ["#1C64F2", "#16BDCA", "#9061F9", "#2G432D"],
                  chart: {
                    height: 420,
                    width: "100%",
                    type: "pie",
                  },
                  stroke: {
                    colors: ["white"],
                    lineCap: "",
                  },
                  plotOptions: {
                    pie: {
                      labels: {
                        show: true,
                      },
                      size: "100%",
                      dataLabels: {
                        offset: -25
                      }
                    },
                  },
                  labels: genreArray,
                  dataLabels: {
                    enabled: true,
                    style: {
                      fontFamily: "Inter, sans-serif",
                    },
                  },
                  legend: {
                    position: "bottom",
                    fontFamily: "Inter, sans-serif",
                  },
                  yaxis: {
                    labels: {
                      formatter: function (value) {
                        return value + "%"
                      },
                    },
                  },
                  xaxis: {
                    labels: {
                      formatter: function (value) {
                        return value  + "%"
                      },
                    },
                    axisTicks: {
                      show: false,
                    },
                    axisBorder: {
                      show: false,
                    },
                  },
                }
              }

              if (document.getElementById("pie-chart") && typeof ApexCharts !== 'undefined') {
                const chart = new ApexCharts(document.getElementById("pie-chart"), getChartOptions());
                chart.render();
              }
          });
        </script>
        {{/if}}
        <p class="text-lg font-normal text-gray-500 dark:text-gray-400">
          <a href="/profile/{{username}}/library">Add some info</a>
        </p>
      </div>

      <div class="space-y-4">
        <span
          class="bg-gray-100 text-gray-900 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">
          Total books read
        </span>
        <h3 class="text-2xl font-bold leading-tight text-gray-900 dark:text-white">
          Nothing here yet...
        </h3>
        <p class="text-lg font-normal text-gray-500 dark:text-gray-400">
          Add some info
        </p>
      </div>
    </div>
  </div>
  <footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
    <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Button</button>
      <p class="text-sm font-light text-gray-500 dark:text-gray-400">
       Need some inspiration? Find out what others are reading here
      </p>
    <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Logout</button>
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:underline">Group 8™</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
        </li>
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
        </li>
</section>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>